# Ignore Dataset Folders (Tukar ikut nama folder dataset kau)
PlantVillage/
PlantVillage_Balanced/

# Ignore Python specific files
__pycache__/
*.pyc


# Ignore training outputs/logs yang berat
EDA_logs/