# Ignore Dataset Folders (Tukar ikut nama folder dataset kau)
PlantVillage/
PlantVillage_Balanced/

# Ignore Python specific files
__pycache__/
*.pyc

# Ignore large Deep Learning weights / models
*.pt
*.onnx
*.h5
weights/

# Ignore training outputs/logs yang berat
runs/
EDA_logs/